@import "../../App.scss";
@include themify($themes) {
  .createProduct {
    margin: 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    label {
      font-size: 25px;
      color: themed("textColorSoft");
    }
    select {
      width: 100px;
      padding: 10px;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: themed("bg");
      color: themed("textColorSecond");
    }
  }
}
